@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');


body , html {
	
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;

}

.header {

	text-align: center;
	padding: 1px 1px 10px 1px;
	margin: -50px 1px 1px 1px;
	color: orange; 
	font-size: 30px;
	background-color: #F4F4F4;
	font-family: 'Montserrat', sans-serif;

}

section {

	background-color: #406A80;
	padding-bottom: 15px;

}

.box  {

	margin: auto;
	display: table;

}

.box tr input {
	
	display: block;
	width: 280px;
	height: 40px;
	margin-top: 39px;
	border-radius: 11px;
	font-size: 25px;
	color: black;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;

}

.claculatebutton {

	height: 35px !important;
	width: 250px !important;
	font-size: 19px !important;
	box-shadow: 0px 0.5px 1px 1px !important;
	color: black !important;
	margin: 0 auto;
	background-color: #e2e2e2 !important;
	border: 0px;

}

tr td:first-child {

	font-size: 1.4em;
	color: white;
	padding-top: 35px;
	padding-right: 15px;
	font-family: 'Source Sans Pro', sans-serif

} 

footer {

	background-color: #F4F4F4;
	width: 100% ;
	height: 50px;
	padding-top: 13px;
	
}

#insnumber {

	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: grey;
	margin-top: 0px;

}


